<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="1160" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
				<tr>
					<td colspan="2" ><p style="margin-top:5px;"><img src="::domain::/tools/fhc/images/tc/img-logo-iec.jpg" alt="IMG" /></p></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="right" class="middle_title">
									<img src="::domain::/tools/fhc/images/tc/pig_icon.png" alt="IMG" />
								</td>
								<td align="left" class="middle_title" valign="middle">
									<p style="line-height:58px;padding-left:10px;">Financial Health Check</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
					<tr>
						<td colspan="2"  align="right" class="date"><p style="padding-bottom:10px;padding-right:3px;">::pdfdate::</p></td>
					</tr>
					<tr>
						<td colspan="2"  class="title"><p style="padding-left:20px; font-family:Gotham Rounded Book;">Your analysis report</p></td>
					</tr>
					<tr>
						<td colspan="2" >
							<table class="menu" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									::header::
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" >
							<table class="content_table" width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td colspan="2" align="center">
										<table border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td align="right" valign="middle">
													<img width="40" height="40" src="::domain::/tools/fhc/images/tc/::sPic::" alt="IMG" />
												</td>
												<td align="left" valign="middle">
													<p style="padding-left:10px;color:#4b2384;font-family:Gotham Rounded Book" id="tle_s2">::pigTil::</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr><td colspan="2"><p class="border"></p></td></tr>
								<tr>
									<td width="60%" style="padding:40px 25px;">
										<div id="con_s2" class="text_size" style="font-size:14px;font-weight:normal;color:#393939;">
											::mainContent::
										</div>
									</td>
									<td align="center"><img id="img_pdf_s2" src="::domain::/tools/fhc/images/en/::pigIcon::" alt="IMG" /></td>
								</tr>
								::actionplan::
								<tr><td colspan="2"><p class="border"></p></td></tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
