<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.webServer>

		<directoryBrowse enabled="false" />
		<rewrite>
			<rules>

				<rule name="General URL Rewriting" stopProcessing="true">
					<match url="Fbsdk.js" />
					<action type="Rewrite" url="Fbsdk.php" appendQueryString="true" />
				</rule>

			</rules>
		</rewrite>
	</system.webServer>
</configuration>
